@import "./src/index";

.cardProduct {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: $size * 1.5 0 $size * 2.5 0;
  max-width: $size * 39;

  .wrapImage {
    & > img {
      width: 100%;
      border-radius: $size;
      transition: 0.3s;

      &:hover {
        box-shadow: 0 0 $size $size * 0.1 $colorDefault2;
        scale: 1.05;
      }
    }

    .titleProduct {
      max-width: $size * 30;
      margin: $size * 0.5 0 $size * 0.5 0;
    }

    .wrapBtnAddCart {
      text-align: right;

      .btnAddCart {
        width: $size * 17;
        padding: $size 0;
        border: $size * 0.1 solid $colorActive4;
        background-color: $colorWhite;
        color: $colorActive4;
        border-radius: 5px;
        transition: 0.3s;
        font-weight: bold;
        font-size: $size * 1.7;

        &:hover {
          background-color: $colorActive4;
          color: $colorWhite;
        }
      }
    }
  }
}
