@import "./src/index";

.wrapCart {
  padding: $size * 2;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .containerForm {
    width: calc(100% / 2 - $size);
    min-height: 400px;
    border: 1px solid $colorActive;
    border-radius: 5px;

    .form {
      display: flex;
      flex-direction: column;
      padding: $size * 2;

      label {
        text-align: left;
        //width: 100%;
        font-weight: bold;
        margin-bottom: $size * 2;

        input {
          display: block;
          width: 80%;
          height: 36px;
          font-size: 12px;
          border-radius: 5px;
          border: 1px solid $colorDefault4;
        }
      }


    }


  }

  .containerCart {
    width: calc(100% / 2 - $size);

    .cart {
      border: 1px solid $colorActive2;
      border-radius: 5px;
      min-height: 500px;
      padding: $size * 2;

    }

    .wrapBtn {
      display: flex;
      justify-content: right;
      align-items: center;
      margin-top: $size * 2;
      font-weight: bold;

      p {
        margin: 0;
        padding: 0;
        color: $colorActive;
        font-size: 20px;

      }

      button {
        width: $size * 20;
        padding: $size 0;
        background-color: $colorActive2;
        color: $colorWhite;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        margin-left: $size * 18;
        font-weight: bold;

      }
    }

  }


}