@import "./src/index";

$widthContainerRestaurants: $size * 30;

.shops {
  color: $colorActive2;
  padding: $size * 2;
  display: flex;
  justify-content: space-between;

  .containerRestaurants {
    width: $widthContainerRestaurants;
    border: 1px solid $colorDefault;
    border-radius: 25px;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $size;
    box-sizing: border-box;


    .normal {
      color: black;
      border: $size * 0.1 solid $colorActive2;
      border-radius: 8px;
      width: $size * 15;
      padding: $size 0;
      text-align: center;
      transition: 0.2s;

      &:hover {
        scale: 1.05;
        box-shadow: 0 0 7px 1px $colorDefault;
      }

    }

    & > .active {
      background-color: $colorActive2;
      color: white;
      font-weight: bold;

      &:hover {
        scale: none;
        box-shadow: none;
      }
    }

  }

  .containerProducts {
    width: calc(100% - $widthContainerRestaurants - $size * 3);
    border: 1px solid $colorDefault;
    border-radius: 25px;
    padding: $size;
    box-sizing: border-box;

    .nameRestaurant {
      text-align: center;
      margin: 0;
    }
  }

  .wrapProducts {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.notFound {
  color: black;
  padding: 20px;
  text-align: center;
}
