body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

$colorWhite: white;
$colorDefault: #d5d4d4;
$colorDefault2: lightgray;
$colorDefault3: #dcdada;
$colorDefault4: grey;
$colorActive: #0f7dc6;
//$colorActive2: #16a811;
$colorActive2: #94b21b;
$colorActive5: #94A844;
$colorActive3: #e11984;
$colorActive4: #57C0EC;
//$colorActive2: blue;
//$colorBg: #2C2C32;
//$colorBg2: #171B1E;
$colorBg: #6e6e6e;
$size: 10px;
$heightHeader: 100px;
$heightFooter: 80px;